        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: rgb(67, 71, 63);
        }
        
        .container {
            width: 100%;
            height: 100vh;
        }
        
        .input-area {
            width: 100%;
            background-color: rgb(67, 71, 63);
            padding: 8px 0px 0px 0px;
        }
        
        .input-area input {
            width: 100%;
            background-color: rgb(199, 199, 216);
            height: 22vh;
            border-radius: 18px;
            border: 2px solid rgb(0, 0, 0);
            font-size: 2rem;
            padding-left: 10px;
        }
        
        .menu {
            /* background-color: rgb(84, 65, 255); */
            display: flex;
            width: 100%;
            align-items: center;
            align-content: center;
            justify-content: flex-end;
            padding: 6px 0px 0px 0px;
        }
        
        .menu button {
            width: 20%;
            font-size: 1.3rem;
            color: white;
            border: 2px solid white;
            border-radius: 10px;
            padding: 3px;
        }
        
        .input-area i {
            width: 10%;
            /* background-color: aqua; */
            font-size: 6vh;
            text-align: right;
            padding: 5px 30px 0px 0px;
            color: aliceblue;
            margin-left: 10px;
        }
        
        .main_body {
            width: 100%;
            background-color: rgb(67, 71, 63);
            height: 67vh;
            padding: 5px;
        }
        
        .rows,
        .elements {
            display: flex;
            width: 100%;
        }
        
        .elements button {
            width: 30%;
            height: 12.5vh;
            border: 2px solid black;
            border-radius: 10px;
            margin: 2px;
            font-size: 2rem;
            background-color: rgb(199, 199, 216);
            text-align: center;
        }
        
        .elements button:hover {
            background-color: rgb(49, 49, 51);
            color: white;
        }
        
        .scientific {
            display: none;
        }
        /* utility class */